body {
	font-family: 'Indie Flower', cursive;
	font-size: 16px;
	background: #eee;
}

.konteynir {
	padding-top: 40px;
	text-align: center;	
	margin: 0 auto;
    max-width: 500px;
    font-family: 'Indie Flower', cursive;
}

.konteynir h3 {
    margin-bottom: 50px;	
    font-family: 'Indie Flower', cursive;
}

.sosyal-aglar {
	font-size: 50px;
}

.sosyal-aglar a {
	color: #666;
	text-decoration: none;
}

.sosyal-aglar a:hover {
	color: #111;
	text-shadow: 0px 0px 0px #111;
} 

.tanitim {
	font-family: 'arial';
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	margin-top: 20px;
}










  


  
  .gun {
    width: 150px; 
    height: 60px;
    background: white;
    font-size: 20px;
    color: #707070;
    
    /* icerigi konumlandırıyoruz */
    position: absolute;
    right: 10%; top: 30%;
    margin-left: 0px; margin-top: 0px;
    
    text-align: center;
    line-height: 30px;
    
    border-bottom: 4px solid #E54B6B;
    background-color: black;
  color: white;

  /*font-family: 'Indie Flower', cursive;*/

}
